.navbar {
    border-width: 0;
}
.navbar-default {
    background-color: #1f3a50;
    border-color: transparent;
}
    .navbar {
        border-radius: 4px;
    }
    .navbar {
        position: relative;
        min-height: 60px;
        margin-bottom: 21px;
        border: 1px solid transparent;
    }